/* CSS 기본 설정 정하기 - 모바일 기준 */
/* TAG 관련 기본 설정 (a, body, h, p) */
/* CLASS 관련 기본 설정(border ,button, display, equation_image_size, location, padding, scroll, size, title) */
/* ID 관련 기본 설정 */

/* TAG 관련 기본 설정 */
/* body 태그 */
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 40px; /* 기본 글자 크기 */
    line-height: 1.6;  /* 기본 줄 높이  */
    color: #2d2d2d;
}

/* button 태그 */
button{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 30px;
    padding: 10px;
    
}

/* h 태그 */
h1{
    font-size: 50px;
    font-weight: 400;
}
h2{
    font-size: 48px;
    font-weight: 400;
}
h3{
    font-size: 46px;
    font-weight: 400;
}
h4{
    font-size: 44px;
    font-weight: 400;
}
h5{
    font-size: 42px;
    font-weight: 400;
}
h6{
    font-size: 40px;
    font-weight: 400;
}

/* CLASS 관련 기본 설정 */
/* equation_image_size 관련 수식이미지 사이즈 조절하기 frac은 분수 들어간 것 */
.equa_size{
    height: 30px;
    margin: 5px;
}
.equa_size-sigma{
    height: 70px;
    margin: 5px;
}
.equa_size-frac{
    height: 50px;
    margin: 5px;
}
.equa_size-matrix1{
    height: 40px;
    margin: 5px;
}
.equa_size-matrix2{
    height: 80px;
    margin: 5px;
}
.equa_size-matrix3{
    height: 120px;
    margin: 5px;
}
.equa_size-matrix4{
    height: 160px;
    margin: 5px;
}
.equa_size-matrix5{
    height: 200px
    margin: 5px;
}

/* ID 관련 기본 설정 */