/* CSS 기본 설정 정하기 - 데스크탑 기준 */
/* TAG 관련 기본 설정 (a, body, h, p) */
/* CLASS 관련 기본 설정(border ,button, display, equation_size, location, padding, scroll, size, title) */
/* ID 관련 기본 설정 */

/* TAG 관련 기본 설정 */
/* a 태그 */
a:link {
    color: #2d2d2d;
    text-decoration: none;
}

a:visited {
    color: #2d2d2d;
    text-decoration: none;
}

a:hover {
    color: #8D8D8D;
    text-decoration: none;
}

/* body 태그 */
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 14px; /* 기본 글자 크기 */
    line-height: 2;  /* 기본 줄 높이  */
    color: #2d2d2d;
}

/* h 태그 */
h1{
    font-size: 25px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 23px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 21px;
}
h6{
    font-size: 20px;
}

/* p 태그 */
p{
    text-indent: 5px; /*들여쓰기 기본 설정 */
}

/* CLASS 관련 기본 설정 */
/* border 관련 */
.border-basic{
    border: 1px solid #f2f2f2;
}

/* button 관련 */

/* display 관련 */
.disp-block{
    display: block;
}
.disp-flex{
    display: flex;
}
.disp-none{
    display: none;
}
/* display 관련 */
.disp-block{
    display: block;
}
.disp-flex{
    display: flex;
}
/* */
.pad-5{
    padding: 5px;
}
.pad-10{
    padding: 10px;
}
.pad-15{
    padding: 15px;
}
.pad-20{
    padding: 20px;
}

/* equation_image_size 관련 수식이미지 사이즈 조절하기 frac은 분수 들어간 것 */
.equa_size{
    height: 20px;
    margin: 5px;
}
.equa_size-sigma{
    height: 50px;
    margin: 5px;
}
.equa_size-frac{
    height: 45px;
    margin: 5px;
}
.equa_size-matrix1{
    height: 25px;
    margin: 5px;
}
.equa_size-matrix2{
    height: 50px;
    margin: 5px;
}
.equa_size-matrix3{
    height: 75px;
    margin: 5px;
}
.equa_size-matrix4{
    height: 100px;
    margin: 5px;
}
.equa_size-matrix5{
    height: 125px
    margin: 5px;
}

/* size 관련 */
.size-w1{
    width: 100px;
}
.size-w2{
    width: 200px;
}
.size-w3{
    width: 300px;
}
.size-w4{
    width: 400px;
}
.size-w5{
    width: 500px;
}
.size-w6{
    width: 600px;
}
.size-w7{
    width: 700px;
}
.size-w8{
    width: 800px;
}
.size-w9{
    width: 900px;
}
.size-w10{
    width: 1000px;
}

.size-h1{
    height: 100px;
}
.size-h2{
    height: 200px;
}
.size-h3{
    height: 300px;
}
.size-h4{
    height: 400px;
}
.size-h5{
    height: 500px;
}
.size-h6{
    height: 600px;
}
.size-h7{
    height: 700px;
}
.size-h8{
    height: 800px;
}
.size-h9{
    height: 900px;
}
.size-h10{
    height: 1000px;
}

/* scroll 관련 */
.scroll{
    overflow: auto;
}

.scroll::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  }
  
.scroll::-webkit-scrollbar-track {
    background: transparent; 
  }
   
.scroll::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
.scroll::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }

/* title 관련 */
.first_title>li {
    font-size: 14px;
}

.second_title>li {
    font-size: 12px;
    text-indent: 5px;
}

.third_title>li {
    font-size: 10px;
    text-indent: 10px;
}

.fourth_title>li {
    font-size: 8px;
    text-indent: 15px;
}

.fifth>li {
    font-size: 8px;
    text-indent: 20px;
}