/* CSS 기본 설정 정하기 - 모바일 기준 */
/* TAG 관련 기본 설정 (a, body, h, p) */
/* CLASS 관련 기본 설정(border ,button, display, equation_image_size, location, padding, scroll, size, title) */
/* ID 관련 기본 설정 */

/* TAG 관련 기본 설정 */
/* body 태그 */
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 40px; /* 기본 글자 크기 */
    line-height: 1.6;  /* 기본 줄 높이  */
    color: #2d2d2d;
}

/* h 태그 */
h1{
    font-size: 50px;
    font-weight: 400;
}
h2{
    font-size: 48px;
    font-weight: 400;
}
h3{
    font-size: 46px;
    font-weight: 400;
}
h4{
    font-size: 44px;
    font-weight: 400;
}
h5{
    font-size: 42px;
    font-weight: 400;
}
h6{
    font-size: 40px;
    font-weight: 400;
}

/* CLASS 관련 기본 설정 */
/* equation_image_size 관련 */
.equa_size{
    height: 30px;
}
.equa_size-frac{
    height: 70px;
}

/* ID 관련 기본 설정 */