.body__container{
    color: #2d2d2d;
}

a:link {
    color: #2d2d2d;
    text-decoration: none;
}

a:visited {
    color: #2d2d2d;
    text-decoration: none;
}

a:hover {
    color: #8D8D8D;
    text-decoration: none;
}

::selection {
    background: #2d2d2d;
    color: #fff;
}
.hide {
     display: none; 
}

/* HEADER */
.virtual {
    text-indent: -9999px;
}


/* MAIN-MENU */
.main-menu {
    z-index: 1;
    position: fixed;
    /* 얘 때문에 떠다님 */
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d1d1d1;
    box-sizing: border-box;
}
.main-menu-inner{
    max-width: 1400px;
    height: 70px;
    margin: 0 auto;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sample-area{
    display: none;
}


img{
    width: 100px;
    padding-left: 40px;
}

.group{
    display: flex;
}

.group li{
    position: relative;
    padding: 0 40px;
    font-size: 18px;
    font-weight: bold;
    right: 80px;
    /* MAIN 메뉴 좌우 위치 조절 */
}


/* SUB-MENU */
.sub-menu {
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 47px;
    text-align: left;
    padding-top: 24px;

    background-color: #fff;
    border-bottom: 1px solid #d1d1d1;
}

.mass{
    max-width: 1400px;
    height: 180px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    background-color: #fff;

}

.mass > ul {
    display: flex;
}

.mass > ul > li {
    position: relative;
    padding: 0px 60px;
    right: 25px;
    /* 얘로 sub-menu 좌우 조절 */
}

.title {
    padding:30px 0px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 0.5;
}

.content {
    font-size: 12px;
    line-height: 1.8;
}


/* SUB-MENU - COLUMN LINE DESIGN */
.part-1::before {
    content: '';
    position: absolute;
    width: 1px;
    top: 40px;
    bottom: 30px;
    background-color: rgba(26, 26, 26, 0.1);
    margin-left: -70px;
}
.part-2::before {
    content: '';
    position: absolute;
    width: 1px;
    top: 40px;
    bottom: 30px;
    background-color: rgba(26, 26, 26, 0.1);
    margin-left: -60px;
}


/* MAIN */
/* FIRST SECTION */
#first_section{

    background-color: #f9f9f9;

}
#first_section-inner{  

    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;

    height: 550px;

    background-color: #f9f9f9;
}

#first_section-door_image{
    position: relative;
    top: 150px;

    width: 350px;
    height: 300px;
    margin-left: 100px;
}

#first_section-text{

    position: relative;
    top: 200px;
 
    height: 150px;

    margin-right: 100px;
    background-color: #f9f9f9;

    text-align: right;
    font-size: 40px;
    line-height: 1.5;

}

/* SECOND SECTION */
#second_section{
    background-color: #fdfdfd;
}
#second_section-inner1{
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;

}

#second_section-title{
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;

}

#second_section-subtitle{

    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    padding-bottom: 50px;
}

#second_section-inner2{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    height: 400px;
    padding: 0 100px;
}



#second_section-image{
    position: relative;

    top: 200px;
    left: 200px;

    width: 100px;
    height: 200px;
}

#second_section-text{
    position: relative;
    top: 200px;
}

.second_section-text{
    display: block;
    margin: 10px 20px 20px 10px;
}
.second_section-box_title{
    font-size: 16px;
    font-weight: 700;
}

.box{
    background-color: #fdfdfd;
    border: 2px solid #dcdcdc;
    width:200px;
    height:200px;
    border-radius:3px;
    text-align:center;
    margin:0 auto;
    font-size:12px;
    vertical-align:middle;
    line-height: 1.4;
    padding: 20px;

}

/* THIRD SECTION */
#third_section{
    background-color: #fafafa;
}
#third_section-inner1{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;

}

#third_section-inner2{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    height: 400px;
    padding: 0 100px;
}

#third_section-title{
    margin: 0 auto;
    font-weight: 500;
    font-size: 30px;
    padding: 50px;
}

#third_section-image{
    position: relative;

    top: 200px;
    left: 200px;

    width: 100px;
    height: 200px;
}

#third_section-text{
    position: relative;
    top: 200px;
}

.third_section-text{
    display: block;
    margin: 10px 20px 20px 10px;
}
.third_section-box_title{
    font-size: 16px;
    font-weight: 700;
}